<div class="loginWapper container">
  <div class="loginWapper__formWapper row justify-content-center">
    <form action="/login?provider=local" method="post" class="loginWapper__formWapper__form col-sm-12 col-md-6">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember">
        <label class="form-check-label" for="exampleCheck1">Nhớ tài khoản</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
      <% if(errors){ %>
      <div id="exampleInputPassword1" class="form-text error-form"><%=errors%></div>
      <% } %>
      <% if(info){ %>
      <div id="exampleInputPassword1" class="form-text error-form"><%=info%></div>
      <% } %>
      <div class="or">hoặc</div>
      <div class="other-login row justify-content-between">
        <div class="other-login__content">
          <a href="/login?provider=google" class="other-login__content__link">
            <img src="https://img.icons8.com/color/30/FFFFFF/google-logo.png" />
            <span class="text">google</span>
          </a>
        </div>
        <div class="other-login__content">
          <a href="/login?provider=facebook" class="other-login__content__link">
            <img src="https://img.icons8.com/color/30/000000/facebook-new.png" />
            <span class="text">facebook</span>
          </a>
        </div>
      </div>
      <div class="loginWapper__formWapper__goto-register mt-2">
        <span class="content">
          Không có tài khoản?
          <a href="/register">Đăng ký</a>
        </span>
        <span class="forgot__password">
          <a href="/forgotPassword">Quên mật khẩu?</a>
        </span>
      </div>
    </form>
  </div>
</div>

<!-- import layout -->
<% layout('../common/base') -%>
<% block('title', 'login' ); -%>
<% stylesheet('/styles/login.css') -%>